<div class="page-forgot" ng-controller="updateCtrl">


    <div class="wrapper">
        <div class="main-body" ng-show="display == true">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h1><a>SkyeBrowse</a></h1>
                        </section>
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-11 col-sm-11 col-xs-11">
                                            <div class="form-group">
                                                <div class="ui-input-group">
                                                    <input type="{{inputType}}" required class="form-control" ng-model="user.password">
                                                    <span class="input-bar"></span>
                                                    <label>New Password</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-1 spacing" ng-click="hideShowPassword()">
                                            <i class="material-icons" style="font-size:15px;" ng-show="hideshow">visibility</i>
                                            <i class="material-icons" style="font-size: 15px;" ng-show="!hideshow">visibility_off</i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 col-sm-11 col-xs-11">
                                            <div class="form-group">
                                                <div class="ui-input-group">
                                                    <input type="{{inputType1}}" required class="form-control" ng-model="user.confirmpassword"
                                                        ng-enter="changepassword(user)">
                                                    <span class="input-bar"></span>
                                                    <label>Confirm Password</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-1 spacing" ng-click="hideShowPassword1()">
                                            <i class="material-icons" style="font-size:15px;" ng-show="hideshow1">visibility</i>
                                            <i class="material-icons" style="font-size: 15px;" ng-show="!hideshow1">visibility_off</i>
                                        </div>
                                    </div>
                                    <div class="additional-info text-center text-small">
                                        By doing this process, in future you can access the SkyeBrowse webportal via
                                        the link which sent in mail and the password which you are giving now.
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <a ng-click="changepassword(user)" class="color-primary">SUBMIT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-white" ng-show="display == false">
            <div class="card-content">
                <section class="logo text-center">
                    <h1><a>SkyeBrowse</a></h1>
                </section>
                <p class="text-center">Your link has been expired or you have changed your password before. If yes,
                    kindly login into the portal via the link which was sent to you in mail. If you forgot your
                    password means, in that portal itself you can use forgot option to change your password.</p>
            </div>
        </div>
    </div>
</div>
