<div class="page" data-ng-controller="view3dmodelCtrl">
    <div class="overlay1" ng-show="showloading">
        <div class="loading-img"></div>
    </div>
    <section class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">View Video</h2>
        </div>
        <div class="col-md-12">
            <div class="row" ng-show="videosdisplay.length != 0">
                <div class="col-md-4" ng-repeat="data in videosdisplay | pagination: curPage * pageSize | limitTo: pageSize">
                    <div class="card bg-white">
                        <!--EDITED HERE-->
                        <div class="card-title">
                            <h3>{{data.file_name}}</h3>
                        </div>
                        <div class="card-content">
                            <a href="{{data.s3location}}">View Model</a>
                            <p class="row">
                                <span style="float:left; color: #777777; "> Date: {{data.created_on}}</span>
                            </p>
                        </div>
                        <div class="card-action" ng-show="user == 'Admin'">
                            <!--<a class="color-primary" ng-click="showdetail($event, data)"><span>Details</span></a>-->
                            <a class="color-primary" ng-click="openpotree(data)"><span>3DModel</span></a>
                            <!-- <a class="color-primary" ng-click="delete(data)"><span>Delete</span></a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="videosdisplay.length == 0">
                <center>
                    <br><br><br><br>
                    <md-button type="submit" class="md-primary md-raised btn-w-md" ng-click="gotoaddvideo()">Upload
                        Video</md-button>
                </center>
            </div>
        </div>



        <div class="card-header ch-alt m-b-20" style="background-color: transparent !important; margin-top: 2em !important; padding-left: 18px; padding-right: 18px;"
            ng-show="videosdisplay.length != 0">

            <button class="btn btn-primary btn-icon" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"><i class="material-icons"
                    style="color: #fff !important;font-size:2em;">keyboard_arrow_left</i></button>&nbsp;&nbsp;
            <span>{{curPage + 1}} of {{ pagenum }}</span>&nbsp;&nbsp;
            <button class="btn btn-primary btn-icon" ng-disabled="curPage >= videosdisplay.length/pageSize - 1"
                ng-click="curPage = curPage+1"><i class="material-icons" style="color: #fff !important;font-size:2em;">keyboard_arrow_right</i></button>
            <div class="btn-toolbar" role="toolbar" style="float: right;">
                <div class="btn-group" style="background : transparent !important;">
                    <button type="button" class="btn btn-primary" ng-click="numberOfPages(10)" ng-disabled="!(videosdisplay.length > 10)">10</button>
                    <button type="button" class="btn btn-primary" ng-click="numberOfPages(25)" ng-disabled="!(videosdisplay.length > 25)">25</button>
                    <button type="button" class="btn btn-primary" ng-click="numberOfPages(50)" ng-disabled="!(videosdisplay.length > 50)">50</button>
                </div>
            </div>
        </div>
    </section>

    <script type="text/ng-template" id="dialog1.tmpl.html">
        <md-dialog>

            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>{{decriptiondata.role}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon style="color: #fff !important;">close</md-icon>
                </md-button>
              </div>
            </md-toolbar>

            <md-dialog-content>
              <div class="md-dialog-content">
                <h4>{{decriptiondata.date}}</h4>
                <p ng-if="decriptiondata.description">
                  {{decriptiondata.description}}
                </p>
                <p ng-if="!decriptiondata.description">
                 There is no detailed information added.
                </p>
              </div>
            </md-dialog-content>

        </md-dialog>
       
    </script>


</div>
