<div class="page page-dashboard" data-ng-controller="DashboardCtrl">
    <div class="overlay1" ng-show="showloading">
        <div class="loading-img"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 clearfix" style="padding-left: 15px;">
            <h2 class="section-header">Videos</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 clearfix" style="text-align: right;" ng-show="videosdisplay.length != 0">
            <a href="#!/3dmodel/view3dmodel" style="text-decoration: none">
                <p style="font-size: 15px;padding-top: 21px;color: #1BAACC;">
                    <md-icon style="color: #1BAACC;">visibility</md-icon>
                </p>
            </a>
        </div>
    </div>
    <div class="row" ng-show="videosdisplay.length == 0">
        <center>
            <br><br><br><br>
            <md-button type="submit" class="md-primary md-raised btn-w-md" ng-click="gotoaddvideo()">Upload Video</md-button>
        </center>
    </div>
    <section class="row ui-section" ng-show="videosdisplay.length != 0">

        <div class="col-md-4" ng-repeat="data in videosdisplay | pagination: curPage * pageSize | limitTo: pageSize">
            <div class="card bg-white">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video width="320" height="240" controls controlsList="nodownload" webkitallowfullscreen
                            mozallowfullscreen allowfullscreen>
                            <source src="{{data.publicS3URL}}" type="video/mp4">
                        </video>
                    </div>

                </div>
                <div class="card-content">
                    <h4 class="text-left" style="color: #1BAACC;">
                        <span ng-show="data.access_level == 5">Admin</span>
                        <span ng-show="data.access_level == 4">Police Chief</span>
                        <span ng-show="data.access_level == 3">Lieutenant</span>
                        <span ng-show="data.access_level == 2">Police Officer</span>
                        <span ng-show="data.access_level == 1">Demo User</span>
                    </h4>
                    <ul class="list-inline">
                        <li>{{data.username}}</li>
                        <!--<li>|</li>
                                        <li>{{data.state}}</li>-->
                    </ul>
                    <p class="row">
                        <span style="float:left; color: #777777; "> Date: {{data.created_on}}</span>
                    </p>
                </div>
                <div class="card-action">
                    <!--<a class="color-primary" ng-click="showdetail($event, data)"><span>Details</span></a>-->
                    <a class="color-primary" target="_blank" href="{{data.potree_location}}"><span>3DModel</span></a>
                    <!-- <a class="color-primary" ng-click="delete(data)"><span>Delete</span></a>-->
                </div>
            </div>
        </div>
    </section>
</div>
